.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main {
	flex: 1;
	width: 100%;
}

.gallery{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	cursor: pointer;
}

.explainer{
	grid-column: 3 / span 2;
	grid-row: 1 / span 2;
}

.shopItem{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
	font-size: 0;

	overflow: hidden;
	position: relative;
}


.shopItem:nth-of-type(1){
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}

.shopItem:nth-of-type(2){
	grid-column: 4 / span 2;
	grid-row: 2 / span 2;
}

.shopItem:nth-of-type(3){
	grid-column: 1 / span 3;
	grid-row: 4 / span 3;
}

.shopItem:nth-of-type(4){
	grid-column: 4 / span 2;
	grid-row: 5 / span 2;
}
.shopItem:nth-of-type(5){
	grid-column: 2 / span 2;
	grid-row: 8 / span 2;
}
.shopItemImage{
	width: 100%;
	height: 100%;
	transform: scale(0.8);
	transition: .3s;
}
.shopItemImageDesign{
	composes: shopItemImage;
	position: absolute;
	top: 0;
	left: 0;
}
.shopItem:hover .shopItemImage{
	transform: scale(1);
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:white;
}

.footer img {
	margin-left: 0.5rem;
}

.footer span {
	display: flex;
	justify-content: center;
	align-items: center;
}


.logo {
	height: 3em;
}


@media (max-width: 1600px) {
	.gallery{
		grid-template-columns: repeat(4, 1fr);
	}

	.shopItem:nth-of-type(1){
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}

	.shopItem:nth-of-type(2){
		grid-column: 3 / span 2;
		grid-row: 2 / span 2;
	}
	.shopItem:nth-of-type(3){
		grid-column: 1 / span 4;
		grid-row: 5 / span 4;
	}
	.shopItem:nth-of-type(4){
		grid-column: 2 / span 2;
		grid-row: 10 / span 2;
	}
	.shopItem:nth-of-type(5){
		grid-column: 1 / span 2;
		grid-row: 12 / span 2;
	}
	.shopItem:nth-of-type(6){
		grid-column: 3 / span 2;
		grid-row: 13 / span 2;
	}
	.shopItem:nth-of-type(7){
		grid-column: 2 / span 2;
		grid-row: 16 / span 2;
	}
}

@media (max-width: 1200px) {
	.gallery{
		grid-template-columns: repeat(3, 1fr);
	}
	.shopItem:nth-of-type(1){
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}

	.shopItem:nth-of-type(2){
		grid-column: 2 / span 2;
		grid-row: 4 / span 2;
	}
	.shopItem:nth-of-type(3){
		grid-column: 1 / span 3;
		grid-row: 7 / span 3;
	}
	.shopItem:nth-of-type(4){
		grid-column: 1 / span 2;
		grid-row: 11 / span 2;
	}
	.shopItem:nth-of-type(5){
		grid-column: 2 / span 2;
		grid-row: 13 / span 2;
	}
	.shopItem:nth-of-type(6){
		grid-column: 1 / span 3;
		grid-row: 16 / span 3;
	}
	.shopItem:nth-of-type(7){
		grid-column: 1 / span 3;
		grid-row: 20 / span 3;
	}
}

@media (max-width: 800px) {
	.gallery{
		grid-template-columns: repeat(2, 1fr);
	}
	.shopItem:nth-of-type(1){
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}
	.shopItem:nth-of-type(2){
		grid-column: 1 / span 2;
		grid-row: 4 / span 2;
	}
	.shopItem:nth-of-type(3){
		grid-column: 1 / span 2;
		grid-row: 8 / span 2;
	}
	.shopItem:nth-of-type(4){
		grid-column: 1 / span 2;
		grid-row: 11 / span 2;
	}
	.shopItem:nth-of-type(5){
		grid-column: 1 / span 2;
		grid-row: 15 / span 2;
	}
	.shopItem:nth-of-type(6){
		grid-column: 1 / span 2;
		grid-row: 18 / span 2;
	}
	.shopItem:nth-of-type(7){
		grid-column: 1 / span 2;
		grid-row: 21 / span 2;
	}
	.shopItem:nth-of-type(8){
		grid-column: 1 / span 2;
		grid-row: 25 / span 2;
	}
}

@media (max-width: 600px) {
	.gallery{
		grid-template-columns: repeat(1, 1fr);
	}
	.shopItem{
		grid-column: unset !important;
		grid-row: unset !important;
	}
}
