
.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main {
	flex: 1;
	width: 100%;
}

.gallery{
	display: grid;
	--columns: 5;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-template-rows: repeat(20, 1fr);
	cursor: pointer;
}

.explainer{
	grid-column: 3 / span 2;
	grid-row: 1 / span 2;
}

.shopItem{
	margin: 0;
	position: relative;
	min-height: calc(100vw / var(--columns));
}


.shopItem:nth-of-type(1){
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}

.shopItem:nth-of-type(2){
	grid-column: 4 / span 2;
	grid-row: 2 / span 2;
}

.shopItem:nth-of-type(3){
	grid-column: 1 / span 3;
	grid-row: 4 / span 3;
}

.shopItem:nth-of-type(4){
	grid-column: 4 / span 2;
	grid-row: 5 / span 2;
}
.shopItem:nth-of-type(5){
	grid-column: 2 / span 2;
	grid-row: 8 / span 2;
}
.shopItem:nth-of-type(6){
	grid-column: 4 / span 2;
	grid-row: 11 / span 2;
}
.shopItem:nth-of-type(7){
	grid-column: 1 / span 2;
	grid-row: 12 / span 2;
}
.shopItem:nth-of-type(8){
	grid-column: 2 / span 3;
	grid-row: 15 / span 3;
}
.shopItem:nth-of-type(9){
	grid-column: 3 / span 2;
	grid-row: 19 / span 2;
}
.shopItem:nth-of-type(10){
	grid-column: 1 / span 2;
	grid-row: 18 / span 2;
}
.shopItemImage{
	/*width: 100%;*/
	/*height: 100%;*/
	transform: scale(0.8);
	transition: .3s;
}
.shopItemImageDesign{
	composes: shopItemImage;
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
}


.shopItem:hover .shopItemImage{
	transform: scale(1);
}



@media (max-width: 1600px) {
	.gallery{
		--columns: 4;
		grid-template-rows: repeat(29, 1fr);
	}

	.shopItem:nth-of-type(1){
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}

	.shopItem:nth-of-type(2){
		grid-column: 3 / span 2;
		grid-row: 2 / span 2;
	}
	.shopItem:nth-of-type(3){
		grid-column: 1 / span 4;
		grid-row: 5 / span 4;
	}
	.shopItem:nth-of-type(4){
		grid-column: 2 / span 2;
		grid-row: 10 / span 2;
	}
	.shopItem:nth-of-type(5){
		grid-column: 1 / span 2;
		grid-row: 12 / span 2;
	}
	.shopItem:nth-of-type(6){
		grid-column: 3 / span 2;
		grid-row: 13 / span 2;
	}
	.shopItem:nth-of-type(7){
		grid-column: 2 / span 2;
		grid-row: 16 / span 2;
	}
	.shopItem:nth-of-type(8){
		grid-column: 1 / span 3;
		grid-row: 19 / span 3;
	}
	.shopItem:nth-of-type(9){
		grid-column: 3 / span 2;
		grid-row: 23 / span 2;
	}
	.shopItem:nth-of-type(10){
		grid-column: 1 / span 2;
		grid-row: 23 / span 2;
	}
	.shopItem:nth-of-type(11){
		grid-column: 2 / span 2;
		grid-row: 26 / span 2;
	}
	.shopItem:nth-of-type(12){
		grid-column: 3 / span 2;
		grid-row: 28 / span 2;
	}
	.shopItem:nth-of-type(13){
		grid-column: 1 / span 2;
		grid-row: 28 / span 2;
	}
}

@media (max-width: 1200px) {
	.gallery{
		--columns: 3;
		grid-template-rows: repeat(37, 1fr);
	}
	.shopItem:nth-of-type(1){
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}
	.shopItem:nth-of-type(2){
		grid-column: 2 / span 2;
		grid-row: 4 / span 2;
	}
	.shopItem:nth-of-type(3){
		grid-column: 1 / span 3;
		grid-row: 7 / span 3;
	}
	.shopItem:nth-of-type(4){
		grid-column: 1 / span 2;
		grid-row: 11 / span 2;
	}
	.shopItem:nth-of-type(5){
		grid-column: 2 / span 2;
		grid-row: 13 / span 2;
	}
	.shopItem:nth-of-type(6){
		grid-column: 1 / span 3;
		grid-row: 16 / span 3;
	}
	.shopItem:nth-of-type(7){
		grid-column: 1 / span 2;
		grid-row: 20 / span 2;
	}
	.shopItem:nth-of-type(8){
		grid-column: 2 / span 2;
		grid-row: 23 / span 2;
	}
	.shopItem:nth-of-type(9){
		grid-column: 2 / span 2;
		grid-row: 26 / span 2;
	}
	.shopItem:nth-of-type(10){
		grid-column: 1 / span 2;
		grid-row: 29 / span 2;
	}
	.shopItem:nth-of-type(11){
		grid-column: 2 / span 2;
		grid-row: 31 / span 2;
	}
	.shopItem:nth-of-type(12){
		grid-column: 1 / span 3;
		grid-row: 34 / span 3;
	}
	.shopItem:nth-of-type(13){
		grid-column: unset;
		grid-row: unset;
	}
}

@media (max-width: 800px) {
	.gallery{
		--columns: 2;
		grid-template-rows: repeat(50, 1fr);
	}
	.shopItem:nth-of-type(1){
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}
	.shopItem:nth-of-type(2){
		grid-column: 1 / span 2;
		grid-row: 4 / span 2;
	}
	.shopItem:nth-of-type(3){
		grid-column: 1 / span 2;
		grid-row: 8 / span 2;
	}
	.shopItem:nth-of-type(4){
		grid-column: 1 / span 2;
		grid-row: 11 / span 2;
	}
	.shopItem:nth-of-type(5){
		grid-column: 1 / span 2;
		grid-row: 15 / span 2;
	}
	.shopItem:nth-of-type(6){
		grid-column: 1 / span 2;
		grid-row: 18 / span 2;
	}
	.shopItem:nth-of-type(7){
		grid-column: 1 / span 2;
		grid-row: 21 / span 2;
	}
	.shopItem:nth-of-type(8){
		grid-column: 1 / span 2;
		grid-row: 25 / span 2;
	}
	.shopItem:nth-of-type(9){
		grid-column: 1 / span 2;
		grid-row: 28 / span 2;
	}
	.shopItem:nth-of-type(10){
		grid-column: 1 / span 2;
		grid-row: 32 / span 2;
	}
	.shopItem:nth-of-type(11){
		grid-column: 1 / span 2;
		grid-row: 34 / span 2;
	}
	.shopItem:nth-of-type(12){
		grid-column: 1 / span 2;
		grid-row: 38 / span 2;
	}
	.shopItem:nth-of-type(13){
		grid-column: 1 / span 2;
		grid-row: 42 / span 2;
	}
	.shopItem:nth-of-type(14){
		grid-column: 1 / span 2;
		grid-row: 47 / span 2;
	}
}

@media (max-width: 600px) {
	.gallery{
		--columns: 1;
	}
	.shopItem{
		grid-column: unset !important;
		grid-row: unset !important;
	}
}
